Repository jackfreeman279/bookmarker: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax=scss --fix, eslint --fix

.lintstagedrc:

{
  "src/*.scss": "stylelint --syntax=scss --fix",
  "*.js": ["eslint --fix", "git add"]
}

added sass
  .lintstagedrc
  package-lock.json
  package.json
  src/App.js
  src/App.scss
  src/index.js
  src/index.scss
Due: stylelint --syntax=scss --fix, eslint --fix

added the google font Newsreader, falling back to the serif system font Garamond
  public/index.html
  src/index.scss
Due: stylelint --syntax=scss --fix

added styled-components package
  package-lock.json
  package.json
Due: none

added prop-types package
  package.json
Due: none

styling moved to styles/ directory, added normalize
  src/App.js
  src/App.scss
  src/index.js
  src/logo.svg
  src/styles/_global.scss
  src/styles/_normalize.scss
  src/styles/styles.scss
Due: stylelint --syntax=scss --fix, eslint --fix

renamed project from Bookmark3r to Bookmarker, because we're taking a classier approach to branding
  README.md
Due: none

Removed stock CRA logos and replaced with bookmarker logo
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
Due: none

further application common styling; layout, colours and variables
  src/App.js
  src/styles/_global.scss
  src/styles/_layout.scss
  src/styles/_mixins.scss
  src/styles/_typography.scss
  src/styles/_variables.scss
  src/styles/styles.scss
Due: eslint --fix

added brand logo and Header component
  src/components/Header.js
  src/i/logo.svg
Due: eslint --fix

finished page header component
  package-lock.json
  package.json
  src/components/Header.js
  src/index.js
Due: eslint --fix

added a Context for bookmarks
  src/context/bookmarks/BookmarksState.js
  src/context/bookmarks/bookmarksContext.js
  src/context/types.js
Due: eslint --fix

added Noto Sans JP as the copy font
  public/index.html
  src/styles/_typography.scss
Due: none

added edit and delete icons
  src/i/delete.svg
  src/i/edit.svg
Due: none

WIP - Created Bookmarks and Bookmark components to display saved bookmarks
  src/App.js
  src/components/Bookmark.js
  src/components/Bookmarks.js
  src/components/Header.js
  src/helpers/createId.js
  src/styles/_buttons.scss
  src/styles/_global.scss
  src/styles/_layout.scss
  src/styles/_mixins.scss
  src/styles/_tooltip.scss
  src/styles/_variables.scss
  src/styles/styles.scss
Due: eslint --fix

added animations file and applied a wiggle to the brand logo
  src/components/Header.js
  src/styles/_animations.scss
  src/styles/styles.scss
Due: eslint --fix

added mixins for title and copy font
  src/styles/_global.scss
  src/styles/_typography.scss
Due: none

plus icon svg
  src/i/plus.svg
Due: none

created AddBookmark component for creating new bookmarks
  src/App.js
  src/components/AddBookmark.js
Due: eslint --fix

removed animations file and reverted the bookmark logo hover to a transition
  src/components/Header.js
  src/styles/_animations.scss
  src/styles/styles.scss
Due: eslint --fix

Removed edit functionality
  src/App.js
  src/components/AddBookmark.js
  src/components/Bookmark.js
  src/components/Bookmarks.js
  src/components/Header.js
  src/i/edit.svg
  src/i/external.svg
Due: eslint --fix

removed unused edit button stylin
  src/components/AddBookmark.js
  src/styles/_buttons.scss
  src/styles/_global.scss
  src/styles/_layout.scss
  src/styles/_tooltip.scss
  src/styles/_typography.scss
  src/styles/_variables.scss
Due: eslint --fix

bookmarks are saved in local storage to persist page refresh, removed default bookmark
  src/App.js
  src/helpers/constants.js
Due: eslint --fix

added delete all bookmarks button that sits alongside the addBookmark input
  src/App.js
  src/components/AddBookmark.js
  src/components/Bookmark.js
  src/components/Bookmarks.js
  src/styles/_buttons.scss
  src/styles/_tooltip.scss
Due: eslint --fix

jsDoc for App.js functions
  src/App.js
  src/styles/_global.scss
  src/styles/_tooltip.scss
  src/styles/_variables.scss
Due: eslint --fix

corrected favicon file path
  public/index.html
Due: none

Updated Readme.md
  README.md
Due: none

added footer that contains link to the readme and github
  src/App.js
  src/components/Bookmarks.js
  src/components/Footer.js
  src/i/github.svg
Due: eslint --fix

added Pagination component and logic to split saved bookmarks into pages
  .gitignore
  src/App.js
  src/components/AddBookmark.js
  src/components/Bookmarks.js
  src/components/Pagination.js
  src/helpers/constants.js
  src/styles/_buttons.scss
Due: eslint --fix

swapped out plus and cross icons with more consistent versions, added bin icon that is used to delete all bookmarks, small layout changes to AddBookmark component
  src/components/AddBookmark.js
  src/components/Bookmark.js
  src/components/Bookmarks.js
  src/components/Header.js
  src/i/bin.svg
  src/i/cross.svg
  src/i/delete.svg
  src/i/plus.svg
  src/styles/_buttons.scss
  src/styles/_layout.scss
  src/styles/_tooltip.scss
Due: eslint --fix

added responsive styling
  src/components/AddBookmark.js
  src/components/Header.js
  src/styles/_layout.scss
  src/styles/_typography.scss
Due: eslint --fix

removed slight indentation of delete all button
  src/components/AddBookmark.js
Due: eslint --fix

centrally aligned header
  src/components/AddBookmark.js
  src/components/Bookmark.js
  src/components/Header.js
Due: eslint --fix

moved delete all button from AddBookmark component to Bookmarks list
  src/App.js
  src/components/AddBookmark.js
  src/components/Bookmarks.js
  src/components/Header.js
Due: eslint --fix
